<%- include('../partials/header.ejs') %>
<div id="content">
<h1>Blogs</h1>
<a href="/add" id="add">Add new blog</a>

    <% blogs.map((blog) => { %>
    <div class="article">
        <h5 class="article-title"><%= blog.title %></h5>
        <div class="article-body">
            <img src="<%= blog.imageUrl %>" class="article-img" alt="...">
            <p class="article-text"><%= blog.content %></p>
            <a href="#" class="read-more">Read more</a>
        </div>
    </div>
    <% }) %>
</div>

<%- include('../partials/footer.ejs') %>