<!DOCTYPE html>
<html lang="en">
<%- include('../includes/header.ejs') %>

    <body>
        <%- include('../includes/nav.ejs') %>
            <main>
                <h2>Welcome</h2>
                <img class="image" src="images/pexels-cesarperez209-733745.jpg" alt="">
             <p><%= lorem %></p>
             <p><%= lorem %></p>
             <p><%= lorem %></p>
            </main>
            <%- include('../includes/footer.ejs') %>
    </body>

</html>